main.main {
    background-color: rgba(0, 0, 0, 0.4);
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.articleMain {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0 20px;

    .article {
        max-width: 800px;
        margin: 0 auto;
        padding-top: 80px;

        >* {

            animation: entry-from-right 1s ease-in-out 0s 1 backwards;
        }

        h1 {
            font-size: 36px;
            font-weight: normal;
            color: white;
            border-bottom: 1px dashed gray;
            margin: 80px 0 20px;
            padding: 10px 0;

            animation: entry-from-left 0.5s ease-in-out 0s 1 backwards;
        }

        h2 {
            font-size: 24px;
            color: #ffe13a;
            font-weight: normal;
            margin: 40px 0 20px 0;

            animation: entry-from-left 0.5s ease-in-out 0s 1 backwards;
        }

        p {
            font-size: 16px;
            line-height: 1.8em;
            margin: 20px 0;

        }

        table {
            border-spacing: 0;
            border: 1px solid gray;

            td,
            th {
                text-align: left;
                vertical-align: top;
                padding: 10px;
                border-top: 1px dashed gray;

                &:not(:last-child) {
                    border-right: 1px dashed gray;
                }
            }

            thead th {
                border-top: none;
            }
        }
    }
}

@keyframes entry-from-left {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes entry-from-right {
    from {
        transform: translateX(10px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}