.background,
.foreground,
.canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    pointer-events: none;
}

.background {
    background-color: black;
    background-image: radial-gradient(#ffffff78, #ffffff3d);
    opacity: 0.5;
    z-index: -30;
}


.canvas {
    z-index: -20;
}

.foreground {
    background-image: linear-gradient(black 10px, transparent 10px), linear-gradient(to right, black 6px, transparent 6px);
    background-size: 11px 11px;
    z-index: -10;
}