a.breadcrumb {
    color: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-shrink: 1;

    &:hover,
    &:active {
        background-color: #ffe13a;
        color: black;
    }

    &:last-of-type {
        flex-shrink: 0;
    }
}

.isHome {
    color: rgba(255, 255, 255, 0.8)
}