$yellow: #ffe13a;

@media screen and (min-width: 700px) {
    .layout {
        display: grid;
        grid-template-columns: 300px auto;
        grid-template-areas: "nav main";
        min-height: 100vh;

        >.nav {

            .sticky {
                position: sticky;
                top: 16px;
            }
        }
    }
}

@media screen and (max-width: 699px) {}


strong.myName {
    display: block;
    font-size: 24px;
    color: white;
    font-weight: normal;
    margin: 32px 0;
    padding: 0 16px;
}

hr.hr {
    border: none;
    border-top: 1px dashed rgba(255, 255, 255, 0.5);
    margin: 16px 16px;
}

a.homeLink {
    display: block;
    text-decoration: none;

    padding: 8px 0;

    .logo {
        display: block;
        margin: 0 16px;
    }

}

nav.nav {

    a {
        display: block;
        color: $yellow;
        padding: 8px 16px;
        border-radius: 8px;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;

        &:hover {
            background-color: $yellow;
            color: black;
        }

        &.active {
            background-color: #ffffff60;
        }
    }
}