$yellow: #ffe13a;

@media screen and (min-width: 700px) {
    .layout {
        display: grid;
        grid-template-columns: 300px auto;
        grid-template-areas: "nav main";
        min-height: 100vh;

        >.nav {

            .sticky {
                position: sticky;
                top: 16px;
            }
        }
    }
}

strong.breadcrumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-weight: normal;
    color: $yellow;
    grid-area: breadcrumbs;
}

strong.myName {
    grid-area: title;
    color: white;

    a {
        display: block;
        color: inherit;
        text-decoration: none;
    }
}

@media screen and (min-width: 700px) {

    .homeLink {
        display: grid;
        text-decoration: none;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        margin: 0 16px;
        padding: 32px 0;
        gap: 16px;

        grid-template-areas:
            "logo"
            "title"
            "breadcrumbs";

        .logo {
            img {
                display: block;
            }

            margin-bottom: 16px;
        }

        strong.myName {
            display: block;
            font-size: 24px;
            font-weight: normal;
        }

        .breadcrumbs {
            flex-wrap: wrap;
        }

        border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
    }
}


@media screen and (max-width: 699px) {
    .homeLink {
        display: grid;
        text-decoration: none;
        gap: 8px 16px;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "logo title"
            "logo breadcrumbs";

        margin: 4px;
        align-items: center;

        border: 1px solid white;
        padding: 12px;

        a.logo {
            display: block;
            grid-area: logo;
            align-self: stretch;
        }

        strong.myName {
            align-self: end;
            font-size: 1.2em;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        strong.breadcrumbs {
            align-self: start;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}

nav.nav {

    padding: 32px 0;

    a {
        display: block;
        color: $yellow;
        padding: 8px 16px;
        border-radius: 8px;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;

        &:hover {
            background-color: $yellow;
            color: black;
        }

        &.active {
            background-color: #ffffff60;
        }
    }
}